{% extends 'base.html' %}

{% block title %}麻雀{% endblock %}

{% block contents %}

<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">国士無双</h2>
            <h4 class="display-7">一般役</h4>
            <h4 class="display-7">役満
            </h4>
            <p class="lead">普通のアガリ役のように4つのメンツをそろえるのではなく、7種類のツーパイと、数牌の1・9牌をすべて1枚ずつ、計13枚そろえます。</p>
        </div>
    </div>
    <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">九蓮宝燈</h2>
            <h4 class="display-7">一般役</h4>
            <h4 class="display-7">役満</h4>
            <p class="lead">3種類の数牌のうち1種類だけで、1と9を3枚ずつ、2から8までを1枚ずつそろえます。</p>
        </div>
    </div>
</div>
<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">大七星</h2>
            <h4 class="display-7">ローカル役</h4>
            <h4 class="display-7">役満</h4>
            <p class="lead">字牌7種類すべて使って七対子をそろえます。</p>
        </div>
    </div>


    <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">四暗刻</h2>
            <h4 class="display-7">一般役</h4>
            <h4 class="display-7">役満</h4>
            <p class="lead">4つのメンツを暗刻か暗刻でそろえます。牌の種類は字牌でも数牌でもかまいません。</p>
        </div>
    </div>
</div>

{% endblock %}